<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   {% load static %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>


<body class="bg-light">

<div class="container mt-5">

   
    <h2 class="mb-5 font-weight-bold text-center">User Profile</h2>

{% load static %}

<h4 class="mb-4 font-weight-bold">Personal Info</h4>

<div class="row align-items-center mb-5">

   
    <div class="col-md-3 text-center">
        <img 
            src="{% static 'defult.jpg' %}" 
            class="rounded-circle"
            alt="Profile Image"
            width="100"
            height="100"
        >
    </div>

    
    <div class="col-md-9">

        <p class="mb-2"><strong>Name:</strong> </p>
        <p class="mb-2"><strong>Email:</strong> </p>
        <p class="mb-2"><strong>Phone:</strong> </p>
        

    </div>

</div>
   
    
    <h4 class="mb-4 font-weight-bold">My Recipes</h4>

    <div class="card shadow-sm">
        <div class="card-body p-0">

            <table class="table table-hover mb-0 text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Sl.No</th>
                        <th>Recipes 🍽️</th>
                        <th>Date 📅</th>
                        <th>Views 👁️</th>
                        <th>View Details ℹ️</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td colspan="5" class="text-muted">
                            No recipes available
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>

</div>

</body>
</html>